@charset "UTF-8";

/*
Typical Device Breakpoints
--------------------------
Pequenas telas: de 320 ate 642px
Celular: de 642px ate 767px
tablet: 767px até 1279px
Desktops: 1279px ate 1920px
Grandes Telas: acima de 1920px
*/

@media screen and (min-width: 768px) and (max-width: 1279px) {
    body {
        background-image: linear-gradient(to top, rgba(255, 0, 255, 0.592), white);
        font-size: 24px;
    }

    #login {
        width: 80vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 66%;
    }
}

@media screen and (min-width: 1279px) {
    body {
        font-size: 1.5em;
        background-image: linear-gradient(to top, rgba(255, 0, 255, 0.592), white);
    }

    #login {
        width: 1000px;
    }
    #imagem {
        float: left;
        height: 100%;
        width: 45%;
        padding-bottom: 500px;
        
    }
    #login > #formulario {
        float: right;
        width: 50%;
    }
}