@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/* 
    Patela de cores
    Azul
    Roxo
    Branco
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Yanone Kaffeesatz, Arial, Helvetica, sans-serif;
}


body, html {
    background-color: rgb(31, 193, 247);
    height: 100vh;
    width: 100vw;
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

#login > #imagem {
    display: block;
    background: rgb(216, 14, 216) url(../image/pexels-cottonbro-3585089.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

#login > #formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > h1 {
    font-size: 1.8em;
}

#formulario > p {
    font-size: 1.2em;
    margin: 15px 0px
}

form > .campo {
    background-color: lightblue;
    display: block;
    height: 40px;
    padding-top: 10px;
    border-radius: 5px;
    margin: 5px 0px;
    
}

.campo > input {
    background-color: blueviolet;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44px);
    border-radius: 8px;
    transform: translateY(-5px);


}

.campo > input:focus-within {
    background-color: white;
}

.campo > label {
    display: none;
}

span > img {
    width: 20px;
    background-color: blueviolet;
    border-radius: 5px;
}

.botão {
    font-size: 16px;
    text-decoration: none;
}

.botão > #iconemail {
    width: 15px;
    background-color: blueviolet;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(170, 110, 226);
}

form > .botão {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

form > .botão:hover {
    color: rgb(47, 2, 89);
}